<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ReleaseBack.Back.mapper.SettingsMapper">
    <select id="findDefaultPageByUserId" resultType="java.lang.Integer">
        SELECT default_page
        FROM user_settings
        WHERE user_id = #{userId}
    </select>

    <select id="findDefaultBaseCurrencyByUserId" resultType="java.lang.String">
        SELECT default_base_currency
        FROM user_settings
        WHERE user_id = #{userId}
    </select>

    <select id="findDefaultQuoteCurrencyByUserId" resultType="java.lang.String">
        SELECT default_quote_currency
        FROM user_settings
        WHERE user_id = #{userId}
    </select>

    <select id="findDisplaySettingsByUserId" resultType="ReleaseBack.Back.DTO.DisplaySettingsDTO">
        SELECT
            background_color AS backgroundColor,
            globe_glow_color AS globeGlowColor,
            globe_point_color AS globePointColor,
            globe_marker_color AS globeMarkerColor
        FROM user_settings
        WHERE user_id = #{userId}
    </select>

    <insert id="insertDefaultPage">
        INSERT INTO user_settings (user_id, default_page)
        VALUES (#{userId}, #{defaultPage})
    </insert>

    <update id="updateDefaultPage">
        UPDATE user_settings
        SET default_page = #{defaultPage}
        WHERE user_id = #{userId}
    </update>

    <insert id="insertSettings">
        INSERT INTO user_settings (
            user_id, default_page, default_base_currency, default_quote_currency
        )
        VALUES (
            #{userId}, #{defaultPage}, #{defaultBaseCurrency}, #{defaultQuoteCurrency}
        )
    </insert>

    <update id="updateDefaultBaseCurrency">
        UPDATE user_settings
        SET default_base_currency = #{defaultBaseCurrency}
        WHERE user_id = #{userId}
    </update>

    <update id="updateDefaultQuoteCurrency">
        UPDATE user_settings
        SET default_quote_currency = #{defaultQuoteCurrency}
        WHERE user_id = #{userId}
    </update>

    <insert id="insertDisplaySettings">
        INSERT INTO user_settings (
            user_id,
            background_color,
            globe_glow_color,
            globe_point_color,
            globe_marker_color
        )
        VALUES (
            #{userId},
            #{backgroundColor},
            #{globeGlowColor},
            #{globePointColor},
            #{globeMarkerColor}
        )
    </insert>

    <update id="updateDisplaySettings">
        UPDATE user_settings
        SET background_color = #{backgroundColor},
            globe_glow_color = #{globeGlowColor},
            globe_point_color = #{globePointColor},
            globe_marker_color = #{globeMarkerColor}
        WHERE user_id = #{userId}
    </update>
</mapper>
