<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ReleaseBack.Back.mapper.SettingsMapper">
    <select id="findDefaultPageByUserId" resultType="java.lang.Integer">
        SELECT default_page
        FROM user_settings
        WHERE user_id = #{userId}
    </select>

    <insert id="insertDefaultPage">
        INSERT INTO user_settings (user_id, default_page)
        VALUES (#{userId}, #{defaultPage})
    </insert>

    <update id="updateDefaultPage">
        UPDATE user_settings
        SET default_page = #{defaultPage}
        WHERE user_id = #{userId}
    </update>
</mapper>
